
@import url('https://fonts.googleapis.com/css?family=VT323');

/* Everything other than the terminal */
header {
width: 100%;
margin-left:px;
padding:0px;
background:#4E4C4D;
}

/* This is the div in which the actual title is*/
h1 {
float: left;
width:70%;
height:90px;
margin:0px;
background:#333;
border: 1px solid #00ff00;
text-align: center;
font-family: 'VT323', monospace;
font-size: 60pt;
color: #00ff00;
padding-top: 3px
}

nav {
float: right;
width:29%;
height:93px;
border: 1px solid #00ff00;
}

ul {
    list-style-type: none;
    margin: 1px;
    padding: 0;
    overflow: hidden;
    background-color: #111;
}

li a {
    display: block;
    font-family: 'VT323', monospace;
    font-size: 18pt;
    color: #00ff00;
    text-align: center;
    padding: 9px 9px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #333;
    border: 1px solid green;
}

.triplets{
  margin-top: 10px;
  margin-right:5px;
  display: inline-block;
  float:right;
  width: 29%;
  position: absolute;
  right:5px;
}

#bbygirl{
  border:1pt solid pink;
  margin-left:5px;
  margin-right:5px;
  margin-bottom:5px;
  height:26vh;
  width:98%;
}
#bbybby{
  border:1pt solid orange;
  margin:5px;
  width:98%;
  height:40vh;
}
#infant{
  border:1pt solid blue;
  margin:5px;
  width:98%;
  height:9vh;

body{
  background-color: #1a001a;
}

}
img {
    display: block;
    margin-left: auto;
    margin-top:15px;
    margin-right: auto;
    border: 1px solid black;
}
.prompt {
  color: #55ff55;
  font-weight: bold;
  font-size: 14px;

}

input {
  margin: 10px;
  padding: 10px;
  width: 90%
}

.user-input {
  color: #55ff55;
  height: 20px;
  margin: none;
  padding: none;
  margin-top: 1px;
  border: none;
  margin-bottom:1px;
  font-weight: bold;
  font-family: "courier";
   border: black;
  background-color: transparent;
}

textarea:focus, input:focus{
    outline-color: green;
}

.response {
  color: #a146ff;
  font-weight: bold;
  font-size: 14px;
}

.hidden {
  color: white;
  font-weight: bold;
  font-size: 14px;
}

ol {
  background: white !important;
}

/* Terminal elements start here */

#terminal{
  margin-top:10px;
  margin-left:0px;
  border:1pt solid pink;
  height:78vh;
  width:70%;
  display: inline-block;
  vertical-align: bottom;
  color: black;
}

#user-input{
    width: 100px;
    font-size: 20px;
    text-align:right;
    text-shadow: 2px 2px 0px #CFD8DC;
    font-family: 'Dhurjati', sans-serif;
    }

#user-input:focus {
   outline: none;
   color: transparent;
   background:transparent;
 }

#input-cursor {
    display: inline-block;
    background: transparent;
    position: relative;
    display:none; /*toggle beween */
    top: 3px;
}

#input-cursor:after {
  content: '';
  width: 20px;
  height: 5px;
  background: green;
  opacity: 0;
  padding-left:none;
  display: inline-block;
  animation: blink .5s linear infinite alternate;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
