
@import url('https://fonts.googleapis.com/css?family=VT323');

header {
width: 100%;
margin-left:px;
padding:0px;
background:#4E4C4D;
}

/* This is the div in which the actual t*/
h1 {
float: left;
width:70%;
height:90px;
margin:0px;
background:#333;
border: 1px solid #00ff00;
text-align: center;
font-family: 'VT323', monospace;
font-size: 60pt;
color: #00ff00;
padding-top: 3px
}

nav {
float: right;
width:29%;
height:93px;
border: 1px solid #00ff00;
}

ul {
    list-style-type: none;
    margin: 1px;
    padding: 0;
    overflow: hidden;
    background-color: #111;
}

li a {
    display: block;
    font-family: 'VT323', monospace;
    font-size: 18pt;
    color: #00ff00;
    text-align: center;
    padding: 9px 9px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #333;
    border: 1px solid green;
}
#terminal{
  margin-top:20px;
  margin-left:10px;
  border:1pt solid pink;
  height:83vh;
  width:68%;
  display: inline-block;
  vertical-align: bottom;
  color: black;
}
.triplets{
  margin-top: 20px;
  margin-right:5px;
  display: inline-block;
  float:right;
  width: 28%;
  position: absolute;
  right:5px;


}
#bbygirl{
  border:1pt solid pink;
  margin-left:5px;
  margin-right:5px;
  margin-bottom:5px;
  height:31vh;
  width:95%;
}
#bbybby{
  border:1pt solid orange;
  margin:5px;
  width:95%;
  height:40vh;
}
#infant{
  border:1pt solid blue;
  margin:5px;
  width:95%;
  height:10vh;

body{
  background-color: #1a001a;
}

}
img {
    display: block;
    margin-left: auto;
    margin-top:15px;
    margin-right: auto;
    border: 1px solid black;
}
.prompt {
  color: #55ff55;
  font-weight: bold;
  font-size: 14px;

}

input {
  margin: 10px;
  padding: 10px;
  width: 90%
}

.user-input {
  color: #55ff55;
  height: 20px;
  margin: none;
  padding: none;
  margin-top: 1px;
  border: none;
  margin-bottom:1px;
  font-weight: bold;
  font-family: "courier";
   border: black;
  background-color: transparent;
}

textarea:focus, input:focus{
    outline-color: green;
}

.response {
  color: #a146ff;
  font-weight: bold;
  font-size: 14px;
}

.hidden {
  color: white;
  font-weight: bold;
  font-size: 14px;
}

ol {
  background: white !important;
}
