<!DOCTYPE html>
<html>
<head>
  <title>Game</title>

  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="/static/css/gamecss.css">
<!--  <link rel="stylesheet" href="/static/css/style.css"> -->
  <link rel="stylesheet" href="/static/css/terminalcss.css">
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
  <div class= "container" id = "head-container">
    <header><h1>Back to the Routes
    </h1></header>
    <nav>
      <ul>
        <li><a href="/u/forum">Forum</a></li>
        <li><a href="/logout">Log Out</a></li>
      </ul>
    </nav>
  </div>
  <div id="terminal">
     <label id="input-cursor"> </label>

  </div>

<div class = "triplets">
  <div id = "bbygirl">
    <div id = "playerStats">Player Stats</div>
    <div id="progressbar1">
     <div>HP</div>
    </div>
    <div id="progressbar2">
    <div>SS</div>
    </div>
    <div id="progressbar3">
    <div>SP</div>
    </div>
    <div id="progressbar4">
    <div>ASS</div>
    </div>
  </div>

  <div id = "bbybby">2</div>
  <div id = "infant">3</div>
</div>
</body>

<script src="/static/js/game.js"></script>

</html>
