
header {
width: 100%;
margin-left:px;
padding:0px;
background:#4E4C4D;
}

h1 {
float: left;
width:70%;
height:100px;
margin:0px;
background:#4B4D51;

}
nav {
float: right;
width:29%;
border:1pt solid blue; 
height:100px;
margin:0px;
margin-top:10px;
}

#terminal{
  margin-top:20px;
  margin-left:10px;
  border:1pt solid pink;
  height:630px;
  width:68%;
  display: inline-block;
  vertical-align: bottom;
}
.triplets{
  margin-top: 20px;
  margin-right:5px;
  display: inline-block; 
  float:right;
  width: 28%;
  position: absolute;
  right:5px;

  
}
#bbygirl{
  border:1pt solid pink;
  margin-left:5px;
  margin-right:5px;
  margin-bottom:5px;
  height:200px;
  width:95%;
}
#bbybby{
  border:1pt solid orange;
  margin:5px;
  width:95%;
  height:344px;
}
#infant{
  border:1pt solid blue;
  margin:5px;
  width:95%;
  height:70px;
}
body{
  background-color: #1a001a;
}
img {
    display: block;
    margin-left: auto;
    margin-top:15px;
    margin-right: auto;
    border: 1px solid black;
}
.prompt {
  color: #55ff55;
  font-weight: bold;
  font-size: 14px;
  
}

.response {
  color: #a146ff;
  font-weight: bold;
  font-size: 14px;
}

.hidden {
  color: white;
  font-weight: bold;
  font-size: 14px;
}

ol {
  background: white !important;
}